@import "../../styles/abstracts/variables";
@import "../../styles/base/resets.scss";

.storeMonthTitle {
  font-size: 2rem;
  color: $font-color2;
  margin: 0;
  padding-bottom: 0.5rem;
}

.row {
  padding-bottom: 1rem;
  .storeMonthImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 250px;
    padding: 0 0.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}
